<div class="page-header">
  <h1>Projects</h1>
  <%= link_to 'Import New', new_project_path, :class => 'btn primary'%>
</div>

<div class="row projects">
  <%= render Project.all %>
</div>

<br><br>

<div class="page-header">
  <h1>Sign In</h1>
</div>


<ul class="authors">
  <% Author.order('name ASC').each do |author| %>
    <li class='author'>
      <%= link_to login_path(:author_id => author) do %>
        <%= image_tag(avatar_url(author, 45), :alt => author.name, :size => '45x45') %>
        <div>
          <h4><%= author.name %></h4>
          <p><%= author.email %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
