<fieldset>
  <legend><%= form.object.name %></legend>
  <div class="clearfix">
    <%= form.label :weight %>
    <%= form.input :weight, :label => false, :input_html => {:class => 'span2'} %>
  </div>
  <div class="clearfix">
    <%= form.label :command %>
    <%= form.input :command, :as => :text, :label => false, :input_html => {:class => 'span8', :rows => 3} %>
  </div>
</fieldset>
<hr>