<div class="page-header">
  <h1>Metrics</h1>
</div>

<%= simple_form_for(@project) do |f| %>
  <fieldset>
    <%= f.fields_for :metrics do |metric| %>
      <%= render 'metrics/form', :form => metric%>
    <% end %>
    <div class="actions">
      <%= f.submit 'Confirm Metrics', :class => 'btn primary', :disable_with => 'Saving...' %>
      <%= link_to 'Back', @project, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>