<div class="page-header">
  <h1>Authors</h1>
</div>

<ul class="authors">
  <% @authors.each do |author| %>
    <li class='author'>
      <%= link_to [author,:projects] do %>
        <%= image_tag(avatar_url(author, 45), :alt => author.name, :size => '45x45') %>
        <div>
          <h4><%= author.name %></h4>
          <p><%= truncate author.email, :length => 30 %></p>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<br><br>

<div class="page-header">
  <h1>Projects</h1>
  <%= link_to 'Import New', new_project_path, :class => 'btn primary'%>
</div>

<div class="row projects">
  <%= render Project.all %>
</div>
