<div class="page-header">
  <h1>Projects</h1>
  <%= link_to 'Create New', new_project_path, :class => 'btn primary'%>
</div>


<div class="row">
  <% @projects.each do |project| %>
    <%= link_to project do %>
      <div class="span project">
          <p class='count'><%= project.problem_count %></p>
          <h2><%= project.current_score%></h2>
          <h5><%= project.name%></h5>
      </div>
    <% end %>
  <% end %>
</div>