<h2><%= @project.name %><%= link_to 'Edit', edit_project_path(@project) %></h2>

<% if @project.commits.size > 0 %>
  <ul class='scores'>
    <li><%= @project.current_score(:rbp)%> <span>problems</span></li>
    <li><%= @project.current_score(:flog)%> <span>complexity/method</span></li>
  </ul>
<% end %>

<%= button_to 'Update', import_commits_project_path, :method => :put, :disable_with => 'Updating...'%>


<script type="text/javascript">
  $(function () {
    var flog = [<%=@commits.reverse.each_with_index.map {|c,i| "[#{c.timestamp},#{c.flog}]"}.join(',')%>];
    var rbp = [<%=@commits.reverse.each_with_index.map {|c,i| "[#{c.timestamp},#{c.rbp}]"}.join(',')%>];
    $.plot($("#graph"), 
      [{data:rbp,label:'Rails Bad Practices',yaxis:2},{data:flog,label:'Flog'}], {
        series: {
          lines: { show: true },
          points: { show: false }
        },
        xaxis: {mode:"time",	timeformat: "%y/%m/%d"},
        legend: { position: 'nw' },
        grid: { hoverable: true, clickable: true }
      }
    );
    
    var previousPoint;
    
    $("#graph").bind("plothover", function (event, pos, item) {
      if (item) {
        if (previousPoint != item.datapoint) {
          previousPoint = item.datapoint;
          $("#tooltip").remove();
          var x = item.datapoint[0];
          var y = item.datapoint[1].toFixed(2);
          showTooltip(item.pageX, item.pageY," build #" + x + ": " + y);
        }
      }
      else {
        $("#tooltip").remove();
        previousPoint = null;            
      }
    });
    
    $("#graph").bind("plotclick", function (event, pos, item) {
      if (item) {
        window.location = item.datapoint[0];
      }
    });

    
    function showTooltip(x,y,text) {
      $('<div id="tooltip">' + text + '</div>').css( {
          position: 'absolute',
          top: y + 5,
          left: x + 5,
          border: '1px solid #fdd',
          padding: '2px',
          'background-color': '#fee',
          opacity: 0.80
      }).appendTo("body");
    }
    
    
  });
  
</script>

<div id="graph" style='height:300px'></div>

<table class='stats'>
  <tr>
    <th>Commit</th>
    <th>Comment</th>
    <% Metric.all.each do |metric|%>
      <th colspan="2"><%= metric.name%></th>
    <% end %>
  </tr>
  <% @commits.each do |commit|%>
  <tr class='<%= commit.assessment%>'>
    <td><%= link_to commit.commited_at.to_date, [@project,commit]%></td>
    <td><%= link_to commit.name, [@project,commit]%></td>
    <% commit.diagnoses.each do |diagnosis|%>
      <td><%= diagnosis.score%></td>
      <td class='number'><%= change_indicator(diagnosis)%></td>
    <% end %>
  </tr>
  <% end %>
</table>

<h3>Authors</h3>
<ul>
  <% @project.authors.each do |author|%>
    <li><%= link_to author.name, [@project,author]%> (<%= author.current_problems_in(@project).count%>)</li>
  <% end %>
</ul>
</ul>