<ul class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %> <span class="divider">/</span></li>
  <li class="active"><%= @project.name%></li>
</ul>

<div class="page-header">
  <h1><%= @project.name %></h1>
  <%= button_to 'Generate Report', [@project, :reports], :method => :post, :disable_with => 'Generating...', :class => 'btn primary'%>
</div>

<div class="row">
  <div class="span4 stats">
    <h2>Current Score</h2>
    <p>
      <%= @project.current_score %>
      <% if @project.current_score < 500 %>
        <span class="label success">Great!</span>
      <% elsif @project.current_score < 1000 %>
        <span class="label warning">Warning</span>
      <% else %>
        <span class="label important">Critical</span>
      <% end %>
    </p>
    <hr>
    <h3>Metrics <small><%= link_to "(Edit)", [@project,:metrics] %></small></h3>
    <ul>
      <% @project.metrics.each do |metric|%>
      <li><%= metric.name%> <em><%= @reports.first.results.find_by_metric_id(metric).score if @reports.size > 0%></em></li>
      <% end %>
    </ul>
    <h3>Authors</h3>
    <ul class='media-grid'>
      <% @project.authors.each do |author| %>
        <li><%= link_to image_tag(avatar_url(author)), [author,@project] %></li>
      <% end %>
    </ul>
  </div>
  <div class="span16">
    <div id="graph" style='height:350px' data-metrics='[<%= @reports.each.map {|r| "[#{r.timestamp},#{r.total_score}]"}.join(',')%>]'></div>
  </div>
</div>

<% if @problems %>
  <br>
  <div class="page-header">
    <h3><%= genitive(@author.name) + ' ' if @author %>Problems <small>(<%= @problems.count%>)</small></h3>
  </div>
  
  <ul class='pills' data-pills="pills">
  <% @results.each do |result, problems| %>
    <li><%= link_to "#{result.metric.name} (#{problems.size})", "##{dom_id(result)}" %></li>
  <% end %>
  </ul>
  
  <div class="pill-content">
    <% @results.each do |result, problems| %>
      <div id='<%= dom_id(result)%>'>
      <table class='zebra-striped'>
        <thead>
          <tr>
            <th>Problem</th>
            <th width="30%">File</th>
            <th width="30">Line</th>
          </tr>
        </thead>
        <%= render problems%>
      </table>
      </div>
    <% end %>
  </div>
<% end %>