<ul class="breadcrumb">
  <li><%= link_to 'Projects', projects_path %> <span class="divider">/</span></li>
  <li class="active"><%= @project.name%></li>
</ul>

<div class="page-header">
  <h1><%= @project.name %></h1>
  <%= button_to 'Update', import_commits_project_path, :method => :put, :disable_with => 'Updating...', :class => 'btn primary'%>
</div>

<div class="row">
  <div class="span4 stats">
    <h2>Current Score</h2>
    <p>
      <%= @project.current_score %> 
      <% if @project.current_score < 200 %>
        <span class="label success">Great!</span>
      <% elsif @project.current_score < 500 %>
        <span class="label warning">Warning</span>
      <% else %>
        <span class="label important">Critical</span>
      <% end %>
    </p>
    <hr>
    <h3>Metrics <small><%= link_to "(Edit)", [@project,:metrics] %></small></h3>
    <ul>
      <% @project.metrics.each do |metric|%>
      <li><%= metric.name%> - <em><%= metric.weight%></em></li>
      <% end %>
    </ul>   
    <h3>Authors</h3>
    <ul class='media-grid'>
      <% @project.authors.each do |author| %>
        <li><%= link_to image_tag(avatar_url(author)), [@project, author] %></li>
      <% end %>
    </ul>
  </div>
  <div class="span16">
    <div id="graph" style='height:350px' data-metrics='[<%= @commits.each.map {|c| "[#{c.timestamp},#{c.total_score}]"}.join(',')%>]'></div>    
  </div>
</div>

<!--hr>

<table class='zebra-striped'>
  <tr>
    <th>Commit</th>
    <% @project.metrics.each do |metric|%>
      <th colspan="2"><%= metric.name%></th>
    <% end %>
    <th>Total Score</th>
  </tr>
  <% @commits.each do |commit|%>
  <tr class='<%= commit.assessment%>'>
    <td><%= link_to commit.name, [@project,commit]%></td>
    <% commit.diagnoses.each do |diagnosis|%>
      <td><%= diagnosis.score%></td>
      <td class='number'><%= change_indicator(diagnosis)%></td>
    <% end %>
    <td><%= commit.total_score %></td>
  </tr>
  <% end %>
</table-->