<div class="page-header">
  <h1><%= link_to @project.name, @project %></h1>
</div>

<div class="row">
  <div class="span4 stats">
    <h2>Current Score</h2>
    <p>
      <%= format_score @problems.score %>
    </p>
  </div>
  <div id="graph" style='height:200px;' data-metrics='[<%= @project.reports.each.map {|r| "[#{r.timestamp},#{r.problems.by(current_author).score}]"}.join(',')%>]'></div>
</div>

<% if @problems.size > 0 %>
  <br>
  <div class="page-header">
    <h3>Problems</h3>
  </div>

  <ul class='pills' data-pills="pills">
  <% @problems.group_by(&:metric).each do |metric, problems| %>
    <li><%= link_to "#{metric.name} (#{problems.size})", "##{dom_id(metric)}" %></li>
  <% end %>
  </ul>

  <div class="pill-content">
    <% @problems.group_by(&:metric).each do |metric, problems| %>
      <div id='<%= dom_id(metric)%>'>
      <table class='zebra-striped'>
        <thead>
          <tr>
            <th class='avatar'>&nbsp;</th>
            <th>Problem</th>
            <th width="30%">File</th>
          </tr>
        </thead>
        <%= render problems%>
      </table>
      </div>
    <% end %>
  </div>
<% end %>
