<div class="page-header">
  <h1><%= @project.name %></h1>
</div>

<%# button_to 'Update', import_commits_project_path, :method => :put, :disable_with => 'Updating...'%>
<div class="row">
  <div class="span4 stats">
    <h2>Total Score</h2>
    <p><%= @commits.first.total_score %></p>
    <h3>Metrics</h3>
    <ul>
      <% @project.metrics.each do |metric|%>
      <li><%= metric.name%> - <em><%= metric.weight%></em></li>
      <% end %>
    </ul>   
  </div>
  <div class="span16">
    <div id="graph" style='height:350px' data-metrics='[<%= @commits.each.map {|c| "[#{c.timestamp},#{c.total_score}]"}.join(',')%>]'></div>    
  </div>
</div>


<hr>

<table class='zebra-striped'>
  <tr>
    <th>Commit</th>
    <th>Comment</th>
    <% Metric.all.each do |metric|%>
      <th colspan="2"><%= metric.name%></th>
    <% end %>
    <th>Total Score</th>
  </tr>
  <% @commits.each do |commit|%>
  <tr class='<%= commit.assessment%>'>
    <td><%= link_to commit.commited_at.to_date, [@project,commit]%></td>
    <td><%= link_to commit.name, [@project,commit]%></td>
    <% commit.diagnoses.each do |diagnosis|%>
      <td><%= diagnosis.score%></td>
      <td class='number'><%= change_indicator(diagnosis)%></td>
    <% end %>
    <td><%= commit.total_score %></td>
  </tr>
  <% end %>
</table>

<hr>

<h3>Authors</h3>
<ul>
  <% @project.authors.each do |author|%>
    <li><%= link_to author.name, [@project,author]%> (<%= author.current_problems_in(@project).count%>)</li>
  <% end %>
</ul>
</ul>