<!DOCTYPE html>
<html>
<head>
  <title>Gitlicious</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js','jquery.flot.min','rails','application'%>
  <%= csrf_meta_tag %>
</head>
<div id="main_container">
    
    <div class="main_content">
      <ul class="menu">
        <li><a class="current" href="/">Home</a></li>
      </ul>
                         
    <div class="center_content">
      <%= content_tag :p, alert, :id => 'alert' if alert %>
      <%= content_tag :p, notice, :id => 'notice' if notice %>
      <%= yield %>
      
        
        

	 <!--a href="#" class="bt_green"><span class="bt_green_lft"></span><strong>Add new item</strong><span class="bt_green_r"></span></a>
     <a href="#" class="bt_blue"><span class="bt_blue_lft"></span><strong>View all items from category</strong><span class="bt_blue_r"></span></a>
     <a href="#" class="bt_red"><span class="bt_red_lft"></span><strong>Delete items</strong><span class="bt_red_r"></span></a--> 


           
          
                    
  </div>   <!--end of center content -->               
                    
                    
    
    
    </div> <!--end of main content-->

</div>		
</body>



</html>
